/*

!.gitignore
!.gitattributes
!.editorconfig
!.github/

!DevEnv.targets.template
!Directory.Build.props
!NuGet.Config
!Generate-DevEnv.ps1
!Install-BepInEx.ps1
!README.md

!dod-save.hexpat
!dod-proto.lua

!plugins/
!tools/
!dod-decomp/
!dod-server/