/*

!.gitignore
!.gitattributes
!.editorconfig
!.github/

!Directory.Build.props
!NuGet.Config
!Install-BepInEx.ps1
!README.md

!dod-save.hexpat
!dod-proto.lua

!plugins/
!tools/
!dod-decomp/
!dod-server/