/*

!.gitignore
!.gitattributes
!.editorconfig
!DevEnv.targets.template
!Directory.Build.props
!NuGet.Config
!Generate-DevEnv.ps1
!Install-BepInEx.ps1
!dod-save.hexpat
!README.md

!plugins/
!tools/
!dod-decomp/