/*

!.gitignore
!Directory.Build.props
!create-plugin.ps1

!debug-mode/
!friendly-fire/
!more-items/
!ultra-hardcore/
!precise-clock/
!settable-seed/
!utils-lib/
!enable-asserts/
!better-chat/
!cell-picker/
!max-threads/
!achievement-enabler/
!player-name-changer/
!world-recorder/
!save-dialog/
!replacementor/