/*

!.gitignore
!Plugin.cs
!Items.cs
!Patches.cs
!more-items.csproj
!ModResources.resx
!ModResources.Designer.cs
!DigOrDie_Data/
!textures/
!README.md
textures/combined_textures.png
textures/combined_particles.png
